* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.section-form {
  max-width: 80rem;
  font-size: 1.8rem;
  font-family: sans;
  color: #495057;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.img-parrot {
  width: 20rem;
}

.form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.list-item {
  display: flex;
  gap: 1rem;
}

.input-link {
  padding-right: 20rem;
}

.btn {
  font-weight: 600;
  color: #f8f9fa;
  border: none;
  border-radius: 3px;
}

.btn-encurtar {
  padding: 3px 6px;
  background-color: #63b5c3;
}

.color {
  background-color: #000;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 3px;
}

.color-red {
  background-color: #d90300;
}

.color-yellow {
  background-color: #fbed34;
}

.color-green {
  background-color: #62a732;
}

fieldset,
.radio-options {
  display: flex;
}

fieldset {
  border: none;
  gap: 1rem;
}

.input {
  border-radius: 3px;
}

select {
  padding-right: 4rem;
}

.btn-copiar {
  padding: 1rem 2rem;
  background-color: #3f4d8c;
  margin-top: 2rem;
}

.title-link-curto {
  min-width: 9rem;
}

.input-link-curto {
  padding-right: 15.5rem;
}

.input-tag {
  padding-right: 20.6rem;
}
